.j-header {
    position: -webkit-sticky !important;
    position: sticky !important;
    margin-top: 0 !important;
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
    top: 0;
    width: 100%;
    z-index: 100 !important;
}

.j-loginBackground {
    position: absolute !important;
    width: 100%;
    height: 100vh;
    top: 0;
    background: url(../images/login_page.png);
    background-size: contain;
    z-index: 1000 !important;
    background-repeat: no-repeat;
    background-position: center;
}

.j-loginButton {
    top: 75vh;
    z-index: 10000 !important;
	margin: 0 !important;
}

.j-menu-label {
    transform: translate( -60% , -60%) !important; //if list == massive translate(%310, -90%
}

.j-footer {
    height: 3em !important;
    min-height: 3em !important;
}

.j-handcursor:hover {
    cursor: pointer;
}

.j-infobutton {
    background-color: #66f7bc !important;
}

@media only screen and (min-width: 768px) {
    .j-footer {
        a {
            width: 250px !important;
        }
    }

    .j-container {
        width: 40em !important;
        margin: auto !important;
    }

    .j-logo {
        margin: auto !important;
    }
}

.j-profilefixer {
    margin-top: -1em !important;
}