.j-chatbackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url(../images/chat_page_bg_white.png);
    background-size: contain;
}

.j-chatHeader {
    position: fixed !important;
    width: 100% !important;
    background-color: white !important;
    color: #252c37 !important;
    top: auto !important;
    margin-top: -1.2em !important;
    border-radius: 0 !important;
    z-index: 1000;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.j-header-name {
    font-size: 1.25em;
    vertical-align: middle;
}

.j-dot {
    height: 0.7em;
    width: 0.7em;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.4em;
    transform: translateY(25%) !important;
}

.j-dot-active {
    height: 0.7em;
    width: 0.7em;
    background-color: #66f7bc;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.4em;
    transform: translateY(25%) !important;
}

.j-messageview {
    background: #323C46 !important;
    color: white !important;
    border-radius: 12px !important;
}
.j-messageviewSender {
    background: #66f7bc !important;
    color: #323C46 !important;
    border-radius: 12px !important;
}

.j-messageviewSegment {
    padding: 0 !important;
    margin: 0.5 !important
}

.j-sendBox {
    position: fixed !important;
    bottom: 8vh !important;
    width: 100% !important;
}

.j-sendBox-parent {
    width: 40em !important;
    margin: auto !important;
}

@media only screen and (min-width: 600px) {
    .j-sendBox {
        width: 40em !important;
        margin: auto !important;
    }
}

.j-sendBoximage {
    height: 6em !important;
    width: auto !important
}

.j-label {
    transform: translate(270%, -80%) !important; //if list == massive translate(%310, -90%
}

.j-chatList-image {
    transform: translateX(-20%) !important;
}

.j-chat-image {
    width: 400px !important;
    max-width: 100% !important;
}

.j-writingDots {
    height: 1em;
}

@media only screen and (min-width: 768px) {
    .j-chat-backarrow {
        text-align: right !important;

        i {
            margin-right: 3em !important;
        }

    }
}

.j-noPadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}