.extra {
	cursor: pointer;
}

.summary {
	cursor: pointer;
}

.j-blinking{
	animation:blinkingIcon 1s infinite !important;
}
@keyframes blinkingIcon{
    0%{     color: grey;    }
    49%{    color: #66f7bc; }
    50%{    color: #66f7bc; }
    99%{    color: #66f7bc;  }
    100%{   color: grey;    }
}

.j-newsfeed-img {
	width: 400px !important;
    max-width: 90% !important;
}

.j-newsfeed-profile-img img:hover {
    cursor: pointer;
}
.j-newsfeed-icon {
	width: 80px !important;
    max-width: 10% !important;
}
.j-post {
    margin-left: -10% !important;
    max-width: 30em !important;
    padding-top: 0.6em !important;
    padding-bottom: 1.5em !important;
}

.j-dot-feed {
    height: 0.4em;
    width: 0.4em;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.2em;
    margin-bottom: 0.15em;
    transform: translateY(0%) !important;
}

.j-dot-feed-active {
    height: 0.5em;
    width: 0.5em;
    background-color: #66f7bc;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.2em;
    margin-bottom: 0.15em;
    transform: translateY(0%) !important;
}
