.j-actionDivider{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.j-caption{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important
}

.j-cancel{
    transform: translate(270%, -80%) !important;
}

.j-comment{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10% !important;
}

.j-commentBar{
    position: fixed !important;
    bottom: 3.5em !important;
    margin-bottom: 1em !important;
    z-index: 1000000 !important;
    width: 100% !important;
    span {
        color: #A8A8AA;
        font-size: 1.25em;
        margin-left: 0.5em;
        vertical-align: middle;
    }
}

.j-commentBarActive{
    position: fixed !important;
    bottom: 3.5em !important;
    top: auto !important;
    z-index: 100 !important;
    span {
        font-size: 1.25em;
        margin-left: 0.5em;
        vertical-align: middle;
    }
}

@media only screen and (min-width: 768px) {
    .j-commentBar > div{
        width: 40em !important;
        margin: auto !important;
    }

    .j-commentBarActive > div{
        width: 40em !important;
        margin: auto !important;
    }
}

.j-commentOption{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.j-content{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.j-navArrow{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.j-hoverableIcon{
    color: rgba(0, 0, 0, 0.5);
}

.j-hoverableIcon:hover {
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

@keyframes pulseOrange {
    0%   {background-color: #fff}
    4%  {background-color: #66f7bc}
    10%  {background-color: #fff}
    14%  {background-color: #66f7bc}
    25%  {background-color: #fff}
    100% {background-color: #fff}
}

.j-pulse {
    animation: pulseOrange 5s infinite;
    animation-delay: 1s;
}

.j-avatar img {
    border-radius: 100% !important;
}

.j-commentOption-block {
    display: inline-block;
    align-items: baseline;
    width: 100% !important;

    div {
        display: inline-block;
        width: 80% !important;
    }
}
