.j-boxbackground {
	position: absolute !important;
    margin-top: 5% !important;
    width: 50% !important;
    z-index: 100 !important;
}

.j-title {
    position: fixed !important;
    bottom: 3vh !important;
    right: 3vh !important;
    z-index: 100 !important;
    strong {
        padding-right: 0.5em !important;
        font-size: large;
    }
}

.j-tiltbox {
    position: fixed !important;
    top: 90% !important;
    width: 100% !important;
    height: 20% !important;
    z-index: 1 !important;
}

.j-pelaauudelleen {
    position: fixed !important;
    left: 50% !important;
    margin-left: -150px !important;
    width: 300px !important;
    text-align: center !important;
    bottom: 7% !important;
    z-index: 1000 !important;
}

.j-stats {
    position: absolute !important;
    top: 20vh !important;
    width: 100% !important;
    strong {
        vertical-align: middle !important;
        font-size: 1em;
    }
}

.j-state {
    padding: 0 !important;
    text-align: center !important;
}

.j-karmaname {
    width: 4em !important;
    display: inline-block !important;
}

.j-start {
    top: 40vh;
}

.j-karmaScale {
    margin-left: 0.5em;
    font-size: 2em !important;
    vertical-align: middle
}

.j-unicorn {
    width:300px !important;
    position: absolute !important;
    bottom: 5vh !important;
    right: 10vw !important;
}

.j-day-image {
    width: 188px !important;
}
